@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  --light-grey: #f4f6f8;
  --grey: #9daec2;
  --dark-grey: #6e8098;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin-inline: 1.5rem;
}
